{% extends 'base.html' %}

{% block title %}回答{% endblock %}

{% block content %}
    <div class="col-xl-7 col-md-6 col-sm-12" style="margin-top: 1rem;">
        <div class="card">
            <div class="card-header">タスクの情報</div>
            <div class="card-body">
                <h5>{{ item.name }}</h5>
                <pre class="prettyprint linenums lang-yaml">{{ item.raw|linebreaksbr }}</pre>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ロール名：{{ item.role_version.role.owner }}.{{ item.role_version.role.name }}</li>
                    <li class="list-group-item">リポジトリ：{{ item.role_version.role.repository|urlize }}</li>
                    <li class="list-group-item">バージョン：{{ item.role_version.name }}</li>
                </ul>
                <p style="margin-top: 1rem;">
                    <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#wholeYaml" aria-expanded="false" aria-controls="wholeYaml">
                        このタスクを含むYAML全体を表示する
                    </button>
                </p>
                <div class="collapse" id="wholeYaml">
                    <h5>{{ item.yaml.path }}</h5>
                    <pre class="prettyprint linenums lang-yaml">{{ item.yaml.content|linebreaksbr }}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-md-6 col-sm-12" style="margin-top: 1rem; margin-bottom: 1rem;">
        <div class="card">
            <div class="card-header">
                入力
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'tasks:answer' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="{{ form.mode.id_for_label }}">{{ form.mode.label }}</label>
                            </div>
                            {{ form.mode }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.replaceable }}
                            <label class="custom-control-label" for="{{ form.replaceable.id_for_label }}">{{ form.replaceable.label }}</label>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="{{ form.reason.id_for_label }}">{{ form.reason.label }}</label>
                            </div>
                            {{ form.reason }}
                            {% if form.reason.errors %}<div class="invalid-feedback">{{ form.reason.errors|join:', ' }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.clearly }}
                            <label class="custom-control-label" for="{{ form.clearly.id_for_label }}">{{ form.clearly.label }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.message.label_tag }}
                        {{ form.message }}
                    </div>
                    {{ form.task }}
                    <button type="submit" class="btn btn-primary" style="margin-top: 1rem; ">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=yaml&skin=desert"></script>
    <style>
        .prettyprint ol.linenums > li { list-style-type: decimal !important; }
        .prettyprint {
            padding: 10px;
        }
    </style>
{% endblock %}