{% extends 'base.html' %}

{% block title %}{% if is_processed %}処理済み{% else %}未処理{% endif %}タスク一覧{% endblock %}

{% block content %}
    <div class="col-xl-10 offset-xl-1">
        <div class="card">
            <div class="card-header">
                <h2>{% if is_processed %}処理済み{% else %}未処理{% endif %}タスク一覧</h2>
            </div>
            <div class="card-body">
                {% if task_list|length > 0 %}
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>モジュール</th>
                            <th>スクリプト</th>
                            <th>タスク名</th>
                            <th>回答済み</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in task_list %}
                            <tr>
                                <td><a style="display: block;" href="{% url 'tasks:answer' %}?task_id={{ item.pk }}">{{ item.pk }}</a></td>
                                <td>{{ item.get_module_display }}</td>
                                <td>{{ item.script|truncatechars:20 }}</td>
                                <td>{{ item.name|truncatechars:20 }}</td>
                                <td><input type="checkbox" disabled="disabled" {% if item.answer %}checked{% endif %}></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No items are left.</p>
                    <p>See <a href="{% url 'tasks:completed-list' %}">completed tasks</a>.</p>
                {% endif %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if page_obj.number > 3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">1</a>
                  </li>
                  {% endif %}

                  {% if page_obj.number > 4 %}
                  <li class="page-item"><span class="page-link" aria-hidden="true">...</span></li>
                  {% endif %}

                  {% for link_page in page_obj.paginator.page_range %}
                  {% if link_page == page_obj.number %}
                  <li class="page-item active">
                    <a class="page-link" href="?page={{ link_page }}">
                      {{ link_page }}
                    </a>
                  </li>
                  {% elif link_page < page_obj.number|add:3 and link_page > page_obj.number|add:-3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ link_page }}">
                      {{ link_page }}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}

                  {% if page_obj.number < page_obj.paginator.num_pages|add:-3 %}
                  <li class="page-item"><span class="page-link" aria-hidden="true">...</span></li>
                  {% endif %}

                  {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">{{ page_obj.paginator.num_pages}}</a>
                  </li>
                  {% endif%}

                  {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
            </nav>
            </div>
        </div>
    </div>
{% endblock %}